version: '2.0'

services:
  postgre-rcc:
    image: postgres:17.4
    ports:
      - "5433:5432"
    volumes:
      - data_rcc:/var/lib/postgresql/data
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    networks:
      - net-rcc

  redis-rcc:
    image: redis:7.4.2
    ports:
      - "6379:6379"
    restart: always
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data
    networks:
      - net-rcc

  api-rcc:
    container_name: eventos-rcc
    build: ./
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - postgre-rcc
      - redis-rcc
    env_file:
      - .env
    volumes:
      - ./src:/app/src
    environment:
      - CHOKIDAR_USEPOLLING=true
    command: npm run dev
    networks:
      - net-rcc

volumes:
  data_rcc:
  redis_data:

networks:
  net-rcc:
